.about {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.about .about-img img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.about .about-text {
    max-width: 500px;
}

.about-text h3 {
    font-size: 40px;
}

.about-text a button {
    padding: 7px 15px;
    border: none;
    border-radius: 50px;
    background: blue;
    color: #fff;
    cursor: pointer;
}

.about-text {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1000ms, transform 1000ms;
}

.about-img {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1000ms, transform 1000ms;
}

.visible-text {
    opacity: 1;
    transform: translateX(0);
}

.visible-img {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (max-width: 1000px) {
    .about {
        flex-direction: column;
        gap: 2rem;
    }
    .about .about-img img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid #fff;
    }

    .about .about-text {
        text-align: center;
    }
}