.my-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 40px;
}

.my-services h3 {
    font-size: 40px;
    text-align: center;
}

.my-services p {
    font-size: 20px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1000ms, transform 1000ms;
}

.services .service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    width: 300px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #393939;
}

.services .service .service-icon, .services .service h4 {
    font-size: 20px;
}

.services .service p {
    font-size: 17px;
}

.visible-service {
    opacity: 1;
    transform: translateY(0);
}