.sk {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.sk h3 {
    font-size: 40px;
    text-align: center;
}

.sk p {
    margin-bottom: 15px;
    text-align: center;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills .skill-img img {
    max-width: 500px;
}

.my-skill .skill .skill-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
    margin-top: 10px;
}

.my-skill .skill .skill-head p {
    font-size: 17px;
    font-weight: bold;
}

.my-skill .skill .custom-progress {
    width: 500px;
    height: 10px;
    border-radius: 8px;
}

.my-skill .skill .custom-progress::-webkit-progress-bar {
    border-radius: 8px;
}

.my-skill .skill .custom-progress::-webkit-progress-value {
    background-color: blue;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .sk h3 {
        font-size: 30px;
    }
    .skills .skill-img img {
        width: 100%;
    }
    .my-skill .skill .custom-progress {
        width: 330px;
    }
}

@media screen and (max-width: 350px) {
    .my-skill .skill .custom-progress {
        width: 220px;
    }
}
