.error {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error .not-found {
    font-size: 250px;
}

.error p {
    font-size: 25px;
    text-align: center;
}

@media screen and (max-width: 570px) {
    .error .not-found {
        font-size: 150px;
    }
    .error p {
        font-size: 20px;
    }
}