.portfolio {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.portfolio h3 {
    font-size: 40px;
    text-align: center;
}

.portfolio-p {
    text-align: center;
}

.works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 20px;
}

.works .work {
    max-width: 300px;
}

.work img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.work .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 15px;
}

.work .info p {
    font-size: 14px;
}

.work .info .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.work .info .links a {
    color: black;
}

.work .info .links a:hover {
    color: blue;
}